.profile-info__edit-button {

    background: url(../../../images/pen.png);
    background-repeat: no-repeat;
    background-position: 7px;
    border: 1px solid;
    border-color: white;
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    cursor: pointer;
    grid-area: button;

}

@media screen and (max-width: 680px) {
    .profile-info__edit-button {
        width: 18px;
        height: 18px;
        margin-bottom: 15px;
        background-position: 5px;

    }
}