.profail__addButton {
    display: inline-block;
    box-sizing: border-box;
    background-image: url(/images/Cross.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    width: 150px;
    height: 50px;
    align-self: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin-left: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

.profail__addButton:hover {
    opacity: 0.8;

}


@media screen and (max-width: 680px) {
    .profail__addButton {
        margin-left: 0px;
        width: 282px;
        background-position: center;
    }
}