.popup__close-button {
    position: relative;
    top: 8px;
    right: -440px;


    background: url("../../../images/Cross.svg") no-repeat;
    transform: rotate(45deg);
    
    scale: 190%;
    cursor: pointer;
    min-height: 32px;
    min-width: 32px;
    
    background-color: transparent;
    border: none;
    outline: none;
}



@media screen and (max-width: 620px) {
    .popup__close-button {
        
        right: -250px;
        top: 0;
        right: -255px;
        scale: 108%;
    }
}