/* Важная часть */
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    /* // Скрываем фон и сам попап */
    opacity: 0;

    /* // Запрещаем ему быть целью событий */
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {


    /* // При добавлении класса 'active'
    // Показываем фон и попап
    // Возвращаем события */
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;

    /* // Центрируем и масштабируем в 0 само окно */
    transform: translate(-50%, -50%) scale(0);

    width: 360px;
    height: 255px;
    padding: 35px;
    transition: 0.5s all;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 620px) {
    .popup {
        width: 237px;
        height: 283px;
        padding: 22px;
        top: 45%;
    }
}

.popup.active {

    /* // При добавлении класса 'active'
    // Так же центрируем и плавно увеличиваем
     */
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}


/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
    position: absolute;
    top: -34px;
    right: -35px;
    transform: rotate(45deg);
    cursor: pointer;
    scale: 200%;

}

@media screen and (max-width: 940px) {
    .close-popup {
        top: -34px;
        right: 0;
        scale: 65%;
    }
}

@media screen and (max-width: 620px) {
    .close-popup {
        top: -40px;
        right: -5px;
        scale: 100%;
    }
}


.popup label {
    width: 100%;
    /* margin-bottom: 25px; */
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {


    margin-bottom: 40px;
    padding-bottom: 2px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width: 940px) {
    .popup .label__text {
        font-size: 18px;
        line-height: 22px;
        padding: 0;
        margin-bottom: 60px;
    }
}



.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 1px;

}


.popup_profail__name {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}

@media screen and (max-width: 620px) {
    .popup_profail__name{
        padding-bottom: 10px;

    }
}



/* .popup input:focus {
    border-bottom: 1px solid #2982ff;
}

.popup input:focus+.label__text {
    color: #2982ff;
} */

/* .popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
} */

/* .popup textarea:focus {
    border-bottom: 1px solid #2982ff;
}

.popup textarea:focus+.label__text {
    color: #2982ff;
} */

.button {

    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    /* border: 2px solid #000000; */
    border-radius: 2px;
    background: #000000;
    cursor: pointer;
    display: flex;
    margin-top: 48px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    /* transition: 0.5s all; */
}



@media screen and (max-width: 620px) {
    .button {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 40px;
    }
}



/* .popup button:hover {
    background: #fff;
    color: #2982ff;
    transition: 0.5s all;
} */



/* <div class="popup__bg">
<form class="popup">
  <img src="./images/Cross.png" class="close-popup animate-link" />
  
    <div class="label__text">Редактировать профиль</div>
  
  <label>
    <input class="popup_profail__name" type="text" name="popup_profail__name" value="" maxlength="18"/>
  </label>
  
  <label>
    <input class="popup_profail__description" type="text" name="profail__description" value="" maxlength="30"/>
  </label>
  <div class="button animate-link" onclick="ChangeOnPage()" type="submit">Сохранить</div>
</form>
</div> */
